<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Book List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="/style.css" />
</head>
  <body>
    <%- include("partials/navbar") %>

    <form method="POST" action="/books/<%= book.id %>/edit">
      <label>Title:</label>
      <input
        type="text"
        name="title"
        value="<%= book.title %>"
        required
      /><br />

      <label>Author:</label>
      <input
        type="text"
        name="author"
        value="<%= book.author %>"
        required
      /><br />

      <label>Review:</label>
      <textarea name="review"><%= book.review %></textarea><br />

      <label>Rating:</label>
      <input
        type="number"
        name="rating"
        value="<%= book.rating %>"
        min="1"
        max="5"
      /><br />

      <label>Date Read:</label>
      <input
        type="date"
        name="date_read"
        value="<%= book.date_read.toISOString().substring(0,10) %>"
      /><br />

      <button type="submit">Save Changes</button>
    </form>

    <a href="/books">← Back to book list</a>
  </body>
</html>
